td	{ border:1px; border-color: #d0d0d0; width: 30%; height: 20%; text-align: center; }
a,p,body,h1,form,input { font-family: HelveticaNeue-UltraLight,Segoe UI,Verdana,Helvetica,sans-serif; margin:0px; padding:0px; font-size: 100px;}
.med { font-color: #800000; }
a	{ text-decoration:none; }
body	{ text-align: center; }
h1	{ font-weight: normal; }
DIV.pin { font-family: HelveticaNeue-UltraLight,Segoe UI,Verdana,Helvetica,sans-serif; text-align:center; position:absolute; top:50%; l left:50%; left:50%}
