<!DOCTYPE html>
<head>
	<title>La casa de los juguetes</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='s.css')}}" />
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
	<script language="JavaScript" src="{{url_for('static', filename='my.js')}}"></script>
</head>
<body onload='load();'>
	<p class="big"><a href="/main">temp</a></p>
	<p class="big"><a href="/multi">multi</a></p>
	<p class="big"><a href="/conf">conf</a></p>
	<p class="med">{{time}}</p>
</body>
</html>
