{% extends "base.html" %}
{% block content %}
<body>
	<div class="jumbotron">
		<div class="container">
			<h1>Casita</h1>
			<p class="lead">¿Qué se te ofrece?</p>
		</div>
	</div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<div class="container">
		<div class="row marketing">
     	<div class="col-lg-6">
			<p><a href="/temp"><button type="button" class="btn btn-lg btn-primary btn-block"><i class="fa fa-home fa-fw"></i> Clima</button></a></p>
			<p>Temperatura en el salón de casa <span class="badge">{{temp1}}</span> &deg;C, presión <span class="badge">{{pres1}}</span> mbar</p>

			<p><a href="/multi"><button type="button" class="btn btn-lg btn-primary btn-block"><i class="fa fa-clock-o"></i> Histórico</button></a></p>
			<p>Histórico de temperaturas en el salón.</p>

			<p><a href="/light"><button type="button" class="btn btn-lg btn-warning btn-block"><i class="fa fa-lightbulb-o"></i> Luces</button></a></p>
			{% if s1 =='on' %}
			<p>La luz del salón está <span class='badge'>encendida</span>. Se apagó por última vez el {{loe}}</p>
			{% else %}
			<p>La luz del salón está <span class='badge'>apagada</span> desde {{loe}}.</p>
			{% endif %}
			<p><a href="/pic"><button type="button" class="btn btn-lg btn-success btn-block"><i class="fa fa-lightbulb-o"></i> Foto</button></a></p>
			<p>Qué está pasando ahora mismo en el salón?</p>
			</div>
		<div class="col-lg-6">
			<p><a href="/conf"><button type="button" class="btn btn-lg btn-success btn-block"><i class="fa fa-gear"></i> Configuración</button></a></p>
			<p>El envío de datos a TS está <span class="badge">{{cloud}}</span>.</p>
		</div>
	</div>
	</div>
</div>
{% endblock %}
