{% extends "base.html" %}
{% block content %}
<body>
<div class="container">
        <div class="jumbotron">
                <h1>Luces</h1>
                <p class="lead">Apaga la luz que gasta!. Son las {{time}}</p>
                <p><a class="btn btn-lg btn-success" href="/" role="button">Inicio</a></p>
        </div>
	<form method="POST" action="/light">
	<input type="hidden" name="line" value="R1LINE">
	<h2>La luz 1 está: {{s1}}. </h2>
	<p>
	{% if s1 == 'off' %}
	<input type="hidden" name="value" value="on">
	<input type="submit" class="btn btn-sm btn-danger" role="button" value="Encender" />
	{% else %}
	<input type="hidden" name="value" value="off">
	<input type="submit" class="btn btn-sm btn-danger" role="button" value="Apagar" />
	{% endif %}
	</p>
	</form>
</div>
{% endblock %}
