<!DOCTYPE html>
<html>
	<head>
		<title>La casa de los juguetes</title>
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link href="{{url_for('static',filename='custom.css')}}" rel="stylesheet">
		<link href="{{url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static',filename='custom.css')}}" rel="stylesheet">
		<meta content="text/html; charset=UTF-8" http-equiv="content-type">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			<!-- temperaturas interiores -->
			var opt1 = {	title: 'Temperatura', fontName: 'Roboto',
				hAxis: {
					showTextEvery: 1,
					format: 'd/M H',
					gridlines: {color: '#ccc', count: 10 },
					minorGridlines: { color: '#eee', count:1 },
					textStyle: {fontSize: '12'}
				},
				vAxis: {
					gridlines: {color: '#ccc', count: 10 },
					minorGridlines: { color: '#eee', count:1 },
					showTextEvery: 1,
					textStyle: {fontSize: '12'}
				},
				series: {
					0: {color:'#B53D1B'},
					1: {color:'#2F5665'}
				},
				legend: { position: 'none' }
			};
			<!-- temperatura radiador -->
			var opt3 = {	title: 'Radiador', fontName: 'Roboto',
				hAxis: {
					showTextEvery: 1,
					format: 'd/M H',
					gridlines: {color: '#ccc', count: 10 },
					minorGridlines: { color: '#eee', count:1 },
					textStyle: {fontSize: '12'}
				},
				vAxis: {
					gridlines: {color: '#ccc', count: 10 },
					minorGridlines: { color: '#eee', count:1 },
					showTextEvery: 1,
					textStyle: {fontSize: '12'}
				},
				series: {
					0: {color:'#B53D1B'},
					1: {color:'#2F5665'}
				},
				legend: { position: 'none' }
			};
			<!-- temperatura exterior -->
			var opt4 = {	title: 'Exterior', fontName: 'Roboto',
				hAxis: {
					showTextEvery: 1,
					format: 'd/M H',
					gridlines: {color: '#ccc', count: 10 },
					minorGridlines: { color: '#eee', count:1 },
					textStyle: {fontSize: '12'}
				},
				vAxis: {
					gridlines: {color: '#ccc', count: 10 },
					minorGridlines: { color: '#eee', count:1 },
					showTextEvery: 1,
					textStyle: {fontSize: '12'}
				},
				series: {
					0: {color:'#B53D1B'},
					1: {color:'#2F5665'}
				},
				legend: { position: 'none' }
			};
			<!-- presión -->
			var opt2 = {	title: 'Presión', fontName: 'Roboto',
				hAxis: {
					shotTextEvery: 1,
					format: 'd/M H',
					gridlines: {color: '#ccc', count: 10 },
					minorGridlines: { color: '#eee', count:1 },
					textStyle: {fontSize: '12'}
				},
				vAxis: {
					gridlines: {color: '#ccc', count: 10 },
					minorGridlines: { color: '#eee', count:1 },
					textStyle: {fontSize: '12'}
				},
				series: {
					0: {color:'#EEEEEE'},
					1: {color:'#B53D1B'},
					2: {color:'#2F5665'}
				},
				legend: { position: 'none' }
			};
			var tdata1=new google.visualization.DataTable();
			tdata1.addColumn('datetime','Fecha');
			tdata1.addColumn('number','temp1');
			tdata1.addColumn('number','temp2');
			var tdata3=new google.visualization.DataTable();
			tdata3.addColumn('datetime','Fecha');
			tdata3.addColumn('number','Temp.Radiador');
			var tdata4=new google.visualization.DataTable();
			tdata4.addColumn('datetime','Fecha');
			tdata4.addColumn('number','Temp.exterior');
			var tdata2=new google.visualization.DataTable();
			tdata2.addColumn('datetime','Fecha');
			tdata2.addColumn('number','Presión');
			tdata2.addColumn('number','Presion2');
			
			// parameters for moving average on pressure (last 7 points)
			var o=7;
			var m=[];
			var s=0;
			var i=0;
			// get JSON data for 1000 last points
			$.getJSON('https://api.thingspeak.com/channels/11489/feed.json?results={{points}}',function(data){
				$.each(data.feeds,function(k,v) {
				//console.log([toDate(v['created_at']),parseFloat(v['field1'])]);
				d=v['created_at'];
				// add data point 
				tdata1.addRow([new Date(d.substring(0,4), d.substring(5,7)-1, d.substring(8,10), d.substring(11,13), d.substring(14,16), d.substring(17,19)),parseFloat(v['field1']),parseFloat(v['field2'])]);
				// this is for pressure moving average
				m[i%o]=parseFloat(v['field3']);	
				if (i>o) {
					s=0;
					$.each(m,function(t,val){
						s=s+val;
					});
					avg=s/o;
				} else {
					avg=m[i%o];
				};
				i++;
				// add data for pressure
				tdata2.addRow([new Date(d.substring(0,4), d.substring(5,7)-1, d.substring(8,10), d.substring(11,13), d.substring(14,16), d.substring(17,19)),parseFloat(v['field3']),avg]);
				// add data for heater, avoid bad readings (very low values under 0)
				if (parseFloat(v['field4'])>0.0) {
					tdata3.addRow([new Date(d.substring(0,4), d.substring(5,7)-1, d.substring(8,10), d.substring(11,13), d.substring(14,16), d.substring(17,19)),parseFloat(v['field4'])]);
				};
				tdata4.addRow([new Date(d.substring(0,4), d.substring(5,7)-1, d.substring(8,10), d.substring(11,13), d.substring(14,16), d.substring(17,19)),parseFloat(v['field5'])]);
			});
			var chart1=new google.visualization.LineChart(document.getElementById('chart1'));
			chart1.draw(tdata1, opt1);
			var chart3=new google.visualization.LineChart(document.getElementById('chart3'));
			chart3.draw(tdata3, opt3);
			var chart4=new google.visualization.LineChart(document.getElementById('chart4'));
			chart4.draw(tdata4, opt4);
			var chart2=new google.visualization.LineChart(document.getElementById('chart2'));
			chart2.draw(tdata2, opt2);
		});
	});
	google.load("visualization", "1", {packages:["corechart"], 'language': 'es'});
	</script>
    		<title>La casa de los juguetes / historico</title>
	</head>
  <body onLoad="$('.btn-group').button();">
	<div class="container">
		<form method="POST" action="/multi">
		<div class="btn-group btn-group-lg" role="group" aria-label="seleccion">
			<input type="submit" class="btn btn-sm btn-{{'success' if points=="150"}}" name="1d" role="button" value="1 dia" />
			<input type="submit" class="btn btn-sm btn-{{'success' if points=="450"}}" name="3d" role="button" value="3 dias" />
			<input type="submit" class="btn btn-sm btn-{{'success' if points=="1010"}}" name="7d" role="button" value="1 semana" />
		</div>
		</form>
		<div id="chart1" style="width: 100%; height: 50%;"></div><br>
		<div id="chart3" style="width: 100%; height: 50%;"></div><br>
		<div id="chart4" style="width: 100%; height: 50%;"></div><br>
		<div id="chart2" style="width: 100%; height: 50%;"></div><br>
	</div>
  </body>
</html>
