{% extends "base.html" %}
{% block content %}
	<p class="big">{{temp1}} &deg;C</p>
	<p class="big">{{temp2}} &deg;C</p>
	<iframe id="tsgraph1" width="450" height="260" src="http://api.thingspeak.com/channels/11489/charts/1?width=450&height=260&average=10&results=600&days=5&dynamic=false&xaxis=Fecha&title=Temperatura" ></iframe>
	<iframe id="tsgraph2" width="450" height="260" src="http://api.thingspeak.com/channels/11489/charts/2?width=450&height=260&average=10&results=600&days=5&dynamic=false&xaxis=Fecha&title=Temperatura" ></iframe>
	<p class="med">{{time}}</p>
{% endblock %}
