{% extends "base.html" %}
{% block content %}
<body onLoad='setTSUrl();'>
<script language="JavaScript">
function setTSUrl(chart) {
	var w,h;
	//w=window.innerWidth*0.9;
	w=document.documentElement.clientWidth*0.8;
	h=w*0.5;
	g1=document.getElementById('tsgraph1')
	g1.src="http://api.thingspeak.com/channels/11489/charts/1?width="+w+"&height="+h+"&average=10&results=600&days=5&dynamic=false&xaxis=Fecha&title=Temperatura";
	g1.width=w;
	g1.height=h;
	g2=document.getElementById('tsgraph2')
	g2.src="http://api.thingspeak.com/channels/11489/charts/2?width="+w+"&height="+h+"&days=5&dynamic=false&xaxis=Fecha&title=Temperatura";
	g2.width=w;
	g2.height=h;
	g3=document.getElementById('tsgraph3')
	g3.src="http://api.thingspeak.com/channels/11489/charts/3?width="+w+"&height="+h+"&days=5&dynamic=false&xaxis=Fecha&title=Presion";
	g3.width=w;
	g3.height=h;
}
</script>
<div class="container">
        <div class="jumbotron">
                <h1>Temperatura</h1>
                <p class="lead">Tirando a fresco</p>
                <p><a class="btn btn-lg btn-success" href="/" role="button"><i class="fa fa-home"></i>&nbsp;Inicio</a></p>
        </div>
	<h3>Salón 1: {{temp1}} &deg;C</h3>
	<h3>Salón 2: {{temp2}} &deg;C</h3>
	<h3>Presión: {{pres1}} mbar</h3>
	<center>
	<iframe id="tsgraph1" width="450" height="450" src='#'></iframe>
	<iframe id="tsgraph3" width="450" height="450" src='#'></iframe>
	<iframe id="tsgraph2" width="450" height="450" src='#'></iframe>
	</center>
</div>
{% endblock %}
